DEV_RESTORE_NAV_STATE_ON_RELOAD=false
DEFAULT_NETWORK= // can be any of: bitcoin | bitcoinTestnet | bitcoinRegtest | bitcoinSignet
LSP_TESTNET_PUBKEY=
LSP_TESTNET_NODE_URI=
LSP_API_TESTNET=
LSP_FEE_API_TESTNET=
TESTNET_FAUCET_API=
TESTNET_FAUCET_MACAROON=
LSP_MAINNET_PUBKEY=
LSP_MAINNET_NODE_URI=
LSP_API_MAINNET=
LSP_FEE_API_MAINNET=
MAINNET_FAUCET_API=
MAINNET_FAUCET_MACAROON=